<form asp-action="SubmitForm" asp-controller="Upload" enctype="multipart/form-data">
    <div>
        <input type="file" name="image" multiple />
    </div>
    <div>
        <button type="submit">Valider</button>
    </div>
</form>