@page "/componentA"
<h3>ComponentA @Name</h3>
<a @onclick="@ChangeName">Click</a>
@code {
    public string Name { get; set; }
    public ComponentA()
    {
        Name = "Ihab";
    }

    public void ChangeName()
    {
        Name = "toto";
    }
}
