@page "/componentA"
<h3>ComponentA @Name</h3>
@{
    string newName = "new Name";
}
<a @onclick="() => ChangeName(newName)">Click</a>
@code {
    public string Name { get; set; }
    public ComponentA()
    {
        Name = "Ihab";
    }

    public void ChangeName(string name)
    {
        Name = name;
    }
}
