<form method="post" asp-action="SubmitLogin" asp-controller="User" class="container">
    <div class="row m-1 justify-content-center align-content-center">
        <div class="col-6">
            <input type="text" name="username" placeholder="UserName" class="form-control" />
        </div>
    </div>
    <div class="row m-1 justify-content-center align-content-center">
        <div class="col-6">
            <input type="password" name="password" placeholder="password" class="form-control" />
        </div>
    </div>
    <div class="row m-1 justify-content-center align-content-center">
        <button class="col-6 btn btn-secondary" type="submit">
            Valider
        </button>
    </div>


</form>