<tr>
    <th scope="row">@Product.Id</th>
    <td>@Product.Title</td>
    <td>@Product.Price</td>
    <td>@Product.Stock</td>
    @if(Search)
    {
        <td><a>Ajouter au panier</a></td>
    }
</tr>

        @code {

        [Parameter]
        public bool Search { get; set; }
        [Parameter]
    public Product Product { get; set; }
}
