@model List<Categorie>
<form class="container" asp-action="SubmitForm" asp-controller="Annonce" enctype="multipart/form-data">
    <div class="row m-1">
        <input type="text" name="titre" placeholder="Titre de l'annonce" class="col form-control p-1"/>
    </div>
    <div class="row m-1">
        <input type="text" name="prix" placeholder="Prix de l'annonce" class="col form-control p-1"/>
    </div>
    <div class="row m-1">
        <select class="form-control col p-1" name="categorieId">
            @foreach(Categorie c in Model)
            {
                <option value="@c.Id">@c.Titre</option>
            }
        </select>
    </div>
    <div class="row m-1">
        <textarea type="text" name="description" placeholder="description de l'annonce" class="col form-control p-1"></textarea>
    </div>
    <div class="row m-1">
        <label>Images:</label>
        <input multiple type="file" name="images" class="col form-control p-1"/>
    </div>
    <div class="row m-1">
        <button type="submit" class="col btn btn-primary p-1">Valider</button>
    </div>
</form>