@page "/"
@inject IProductService _productService;
<h3>Home</h3>
@*<SearchComponent></SearchComponent>
<ProductsComponent Search="true" Products="@_productService.SearchProducts"></ProductsComponent>*@
@code {
    protected override void OnInitialized()
    {
        _productService.SearchChanged += StateHasChanged;        
    }
}
