@page "/"
@inject ProductService _productService;
<h3>Home</h3>
<SearchComponent></SearchComponent>
<ProductsComponent Products="@_productService.SearchProducts"></ProductsComponent>
@code {
    protected override void OnInitialized()
    {
        _productService.SearchChanged += StateHasChanged;        
    }
}
