@page "/products"
@inject ProductService _productService;
<h3>Products</h3>
<FormProductComponent></FormProductComponent>
<ProductsComponent Products="@_productService.Products"></ProductsComponent>
@code {
    protected override void OnInitialized()
    {
        _productService.ProductsChanged += StateHasChanged;        
    }
}
