@page "/products"
@inject IProductService _productService;
<h3>Products</h3>
<FormProductComponent></FormProductComponent>
<ProductsComponent Products="@ProductsData"></ProductsComponent>
@code {

    public List<Product> ProductsData = new();

    private async Task GetProducts()
    {
        ProductsData = await _productService.GetProducts();
    }
    protected override async Task OnInitializedAsync()
    {
        await GetProducts();
        _productService.ProductsChanged += GetProducts;
    }

    protected override Task OnParametersSetAsync()
    {
            StateHasChanged();
        return base.OnParametersSetAsync();
    }
   
}
