@using CashRegistryEntityFrameWork.Classes
@model List<Product>
<div class="container">
    <form asp-action="Index" asp-controller="CashRegistry" class="row m-1 justify-content-center align-content-center">
        <div class="col-6">
            <input type="text" name="search" placeholder="Rechercher par titre ou id produit" class="form-control p-1" />
        </div>
        <button type="submit" class="col-3 btn btn-dark">Rechercher</button>
    </form>

</div>
@if (Model.Count > 0)
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Prix</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product p in Model)
            {
                <tr>
                    <th scope="row">@p.Id</th>
                    <td>@p.Title</td>
                    <td>@p.Price €</td>
                    <td><a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@p.Id"><i class="fa-solid fa-cart-plus"></i></a></td>
                </tr>
            }


        </tbody>
    </table>


}