<div>
    @Id @Name @Phone
</div>
@code {

    [Parameter]
    public string Name { get; set; }
    
    [Parameter]
    public int Id { get; set; }
    
    [Parameter]
    public string Phone { get; set; }
}
