@using CoursBlazorWebAssembly.Models
<div>
    @Contact.Id @Contact.Name @Contact.Phone
    <a @onclick="() => DeleteContact(Contact.Id)">Supprimer</a>
</div>
@code {

    //[Parameter]
    //public string Name { get; set; }

    //[Parameter]
    //public int Id { get; set; }

    //[Parameter]
    //public string Phone { get; set; }

    [Parameter]
    public Contact Contact { get; set; }

    [Parameter]
    public EventCallback<int> OnDeletedContact { get; set; }

    public void DeleteContact(int id)
    {
        OnDeletedContact.InvokeAsync(id);
    }
}
