@using CoursBlazorWebAssembly.Models
<div>
    @Contact.Id @Contact.Name @Contact.Phone
</div>
@code {

    //[Parameter]
    //public string Name { get; set; }

    //[Parameter]
    //public int Id { get; set; }

    //[Parameter]
    //public string Phone { get; set; }

    [Parameter]
    public Contact Contact { get; set; }
}
