<form class="container" asp-action="SubmitForm" asp-controller="Contact" method="post">
    <div class="row m-1">
        <input type="text" name="firstName" placeholder="Prénom du contact" class="col p-1 form-control" />
    </div>
    <div class="row m-1">
        <input type="text" name="lastName" placeholder="Nom du contact" class="col p-1 form-control" />
    </div>
    <div class="row m-1">
        <input type="text" name="phone" placeholder="Téléphone du contact" class="col p-1 form-control" />
    </div>
    <div class="row m-1">
        <button class="btn btn-success col p-1" type="submit">Valider</button>
    </div>
</form>
